.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
data/
_freeze/Take-home_Ex/Take-home_Exercise_1/execute-results/html.json
Take-home_Ex/Take-home_Ex02/Take-home_Ex02_cache/for
Take-home_Ex/Take-home_Ex03_cache/
